.container{
	width: 1425px;
	/*height: 765px;*/
	display: flex;
	flex-wrap: wrap;
}
.board{
	height: 350px;
	width: 350px;
	margin: -3px;
    border: 5px solid;
}
.row{
	display: flex;
	width: 100%;
}
.col{
	height: 100%;
	/*font-size: 500%;*/
}
form{
	margin: 20px;
}
input{
	width: 200px;
	/*height: 50px;*/
}